# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
src-tauri/target/
src-tauri/Cargo.lock

# Python
tagger/venv/
tagger/__pycache__/
*.pyc

# Tauri
src-tauri/gen/

# System
.DS_Store